In [136]:
import pandas as pd

df= pd.read_csv('/content/Consumer_Airfare_Report__Table_1_-_Top_1_000_Contiguous_State_City-Pair_Markets-2.csv')

print(len(df))
cities = df[['city1', 'city2','fare']]
display(cities)

3002

,city1,city2,fare
0,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.70
1,"Allentown/Bethlehem/Easton, PA","Sanford, FL",110.65
2,"Albuquerque, NM","Dallas/Fort Worth, TX",212.68
3,"Albuquerque, NM","Denver, CO",168.00
4,"Albuquerque, NM","Austin, TX",208.88
...,...,...,...
2997,"Syracuse, NY","Tampa, FL (Metropolitan Area)",143.21
2998,"Knoxville, TN","Washington, DC (Metropolitan Area)",199.11
2999,"Knoxville, TN","New York City, NY (Metropolitan Area)",220.58
3000,"Knoxville, TN","Miami, FL (Metropolitan Area)",165.02
3001,"Knoxville, TN","Tampa, FL (Metropolitan Area)",128.87

In [137]:
df_lat_lon= pd.read_csv('/content/uscities.csv')

In [138]:
df_lat_lon = df_lat_lon[['city_ascii','lat','lng']]

In [139]:
df_lat_lon.loc[df_lat_lon['city_ascii'] == 'New York', 'city_ascii'] = 'New York City'

In [140]:
games=['San Diego', 'Chicago','Los Angeles','Arlington','Denver','Baltimore','Detroit','Minneapolis', 'St. Louis',
 'Tampa',
 'Toronto',
 'New York City',
 'Chicago',
 'Cleveland',
 'Kansas City',
 'Oakland',
 'San Francisco',
 'Los Angeles',
 'Phoneix',
 'Washington',
 'Atlanta',
 'Boston',
 'Pittsburgh',
 'Philadelphia',
 'Houston',
 'New York',
 'Miami',
 'Cincinnati',
 'Milwaukee',
 'Seattle']

In [141]:

display(df_lat_lon.head())
len(df_lat_lon)

      city_ascii      lat       lng
0  New York City  40.6943  -73.9249
1    Los Angeles  34.1141 -118.4068
2        Chicago  41.8375  -87.6866
3          Miami  25.7840  -80.2101
4        Houston  29.7860  -95.3885

31120

In [142]:
len(cities)

3002

In [143]:
import pandas as pd

# Assume df_flights is your first DataFrame with 'city1', 'city2', and 'fare' columns
# Assume df_coords is your second DataFrame with 'CITY', 'LATITUDE', and 'LONGITUDE' columns
df_flights=cities
df_coords=df_lat_lon
# First, you might want to clean the city names in df_flights if they contain extra descriptions or slashes
# Here's a simple way to do it assuming the city names come before the first slash or comma:
df_flights['clean_city1'] = df_flights['city1'].str.split('/').str[0]
df_flights['clean_city2'] = df_flights['city2'].str.split('/').str[0]

df_flights['clean_city1'] = df_flights['clean_city1'].str.split(',').str[0]
df_flights['clean_city2'] = df_flights['clean_city2'].str.split(',').str[0]

# display(df_flights.head(20))
# display(df_coords.head(10))
print(len(df_flights))


# # Now, perform the merge for city1's latitude and longitude
df_merged = df_flights.merge(df_coords, left_on=['clean_city1'], right_on=['city_ascii'], how='left')


# # And again for city2's latitude and longitude
df_merged = df_merged.merge(df_coords, left_on=['clean_city2'], right_on=['city_ascii'], how='left', suffixes=('1', '2'))
display(df_merged.head())
# # Now select the relevant columns and rename them as needed
# final_df = df_merged[['city1', 'city2', 'fare', 'LATITUDE1', 'LONGITUDE1', 'LATITUDE2', 'LONGITUDE2']]

# # Rename columns for clarity
# final_df.rename(columns={
#     'LATITUDE1': 'latitude1',|
#     'LONGITUDE1': 'longitude1',
#     'LATITUDE2': 'latitude2',
#     'LONGITUDE2': 'longitude2'
# }, inplace=True)

# Your final DataFrame will have the city pairs with corresponding latitudes and longitudes

3002

<ipython-input-143-b0e8caa190c1>:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-143-b0e8caa190c1>:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-143-b0e8caa190c1>:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-143-b0e8caa190c1>:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,city1,city2,fare,clean_city1,clean_city2,city_ascii1,lat1,lng1,city_ascii2,lat2,lng2
0,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,40.5961,-75.4756,Tampa,27.9945,-82.4447
1,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,40.5961,-75.4756,Tampa,38.5481,-97.1542
2,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,40.1778,-74.5873,Tampa,27.9945,-82.4447
3,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,40.1778,-74.5873,Tampa,38.5481,-97.1542
4,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,30.7745,-87.0822,Tampa,27.9945,-82.4447

In [144]:
df_merged['lng1'].isna().sum()
#len(df_merged)

3

In [145]:
################### JOINIGN. WITH TEAMS #####################
#games=pd.read_csv('/content/final_mlb_schedule.csv')
#df_merged = df_flights.merge(games, left_on=['clean_city1'], right_on=['CITY1'], how='left')

In [146]:
# Create a list of all unique cities from both 'city1' and 'city2' columns
all_cities = pd.unique(cities[['city1', 'city2']].values.ravel('K'))

# Initialize a DataFrame to hold the flight-cost matrix with all cities
flight_cost_matrix = pd.DataFrame(index=all_cities, columns=all_cities)

# Populate the matrix with the fare values
for index, row in cities.iterrows():
    flight_cost_matrix.at[row['city1'], row['city2']] = row['fare']

# Fill NaN values with 0 or some other indicator of no flight
flight_cost_matrix.fillna(0, inplace=True)

# Now you can display the flight-cost matrix
display(flight_cost_matrix)

,"Allentown/Bethlehem/Easton, PA","Albuquerque, NM","Atlantic City, NJ","Colorado Springs, CO","Dallas/Fort Worth, TX","Pittsburgh, PA","Huntsville, AL","Albany, NY","Amarillo, TX","Denver, CO",...,"Spokane, WA","Sioux Falls, SD","Provo, UT","Wilmington, NC","Mission/McAllen/Edinburg, TX","Worcester, MA","Tallahassee, FL","Medford, OR","Rockford, IL","Pasco/Kennewick/Richland, WA"
"Allentown/Bethlehem/Easton, PA",0,0,0,0.0,0.00,0.00,0,0,0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Albuquerque, NM",0,0,0,0.0,217.74,0.00,0,0,0,167.51,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Atlantic City, NJ",0,0,0,0.0,0.00,0.00,0,0,0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Colorado Springs, CO",0,0,0,0.0,197.87,0.00,0,0,0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Dallas/Fort Worth, TX",0,0,0,0.0,0.00,268.56,0,0,0,179.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Worcester, MA",0,0,0,0.0,0.00,0.00,0,0,0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Tallahassee, FL",0,0,0,0.0,0.00,0.00,0,0,0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Medford, OR",0,0,0,0.0,0.00,0.00,0,0,0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Rockford, IL",0,0,0,0.0,0.00,0.00,0,0,0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Pasco/Kennewick/Richland, WA",0,0,0,0.0,0.00,0.00,0,0,0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [147]:
display(games)

['San Diego',
 'Chicago',
 'Los Angeles',
 'Arlington',
 'Denver',
 'Baltimore',
 'Detroit',
 'Minneapolis',
 'St. Louis',
 'Tampa',
 'Toronto',
 'New York City',
 'Chicago',
 'Cleveland',
 'Kansas City',
 'Oakland',
 'San Francisco',
 'Los Angeles',
 'Phoneix',
 'Washington',
 'Atlanta',
 'Boston',
 'Pittsburgh',
 'Philadelphia',
 'Houston',
 'New York',
 'Miami',
 'Cincinnati',
 'Milwaukee',
 'Seattle']

In [148]:
df_merged.head()

,city1,city2,fare,clean_city1,clean_city2,city_ascii1,lat1,lng1,city_ascii2,lat2,lng2
0,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,40.5961,-75.4756,Tampa,27.9945,-82.4447
1,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,40.5961,-75.4756,Tampa,38.5481,-97.1542
2,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,40.1778,-74.5873,Tampa,27.9945,-82.4447
3,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,40.1778,-74.5873,Tampa,38.5481,-97.1542
4,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",138.7,Allentown,Tampa,Allentown,30.7745,-87.0822,Tampa,27.9945,-82.4447

In [149]:
df_filtered=df_merged[['clean_city1','clean_city2','fare','lng1','lat1','lng2','lat2']]
df_filtered = df_filtered.drop_duplicates(subset=['clean_city1', 'clean_city2']).reset_index()

In [150]:
display(df_filtered)

,index,clean_city1,clean_city2,fare,lng1,lat1,lng2,lat2
0,0,Allentown,Tampa,138.70,-75.4756,40.5961,-82.4447,27.9945
1,8,Allentown,Sanford,110.65,-75.4756,40.5961,-81.2757,28.7891
2,40,Albuquerque,Dallas,212.68,-106.6465,35.1054,-96.7667,32.7935
3,46,Albuquerque,Denver,168.00,-106.6465,35.1054,-104.8758,39.7620
4,52,Albuquerque,Austin,208.88,-106.6465,35.1054,-97.7522,30.3005
...,...,...,...,...,...,...,...,...
1113,76528,Portland,St. Louis,297.13,-122.6500,45.5371,-90.2451,38.6359
1114,77143,Santa Rosa,Seattle,186.02,-122.7067,38.4458,-122.3244,47.6211
1115,77149,Bend,San Francisco,228.42,-121.3095,44.0563,-122.4449,37.7558
1116,77365,Reno,Washington,415.82,-119.8483,39.5497,-77.0163,38.9047
1117,77788,Santa Barbara,Seattle,228.59,-119.7202,34.4285,-122.3244,47.6211

In [151]:
unique_values = df_filtered['clean_city1'].unique()

# Print the unique values
print(unique_values)

['Allentown' 'Albuquerque' 'Atlantic City' 'Colorado Springs' 'Dallas'
 'Pittsburgh' 'Huntsville' 'Albany' 'Amarillo' 'Denver' 'Aspen' 'Atlanta'
 'Appleton' 'Austin' 'Asheville' 'Tucson' 'Phoenix' 'Hartford' 'Seattle'
 'Birmingham' 'El Paso' 'Billings' 'Bismarck' 'Cleveland' 'Bellingham'
 'Nashville' 'Boise' 'Boston' 'Burlington' 'Buffalo' 'Bozeman'
 'Washington' 'Columbia' 'Chicago' 'Charleston' 'Cedar Rapids' 'Charlotte'
 'Columbus' 'St. Louis' 'Myrtle Beach' 'Jacksonville' 'Dayton' 'Detroit'
 'Des Moines' 'Houston' 'Orlando' 'Eagle' 'Valparaiso' 'Eugene' 'Key West'
 'Fargo' 'Fresno' 'Minneapolis' 'New York City' 'Fort Myers' 'Flint'
 'Fort Wayne' 'Fayetteville' 'Greenville' 'Grand Rapids' 'Greensboro'
 'Harrisburg' 'Harlingen' 'Las Vegas' 'New Haven' 'Indianapolis' 'Jackson'
 'San Francisco' 'Miami' 'Los Angeles' 'Latrobe' 'Louisville' 'Cincinnati'
 'Sacramento' 'Tampa' 'Kansas City' 'San Antonio' 'Memphis' 'Omaha'
 'Milwaukee' 'Madison' 'New Orleans' 'San Diego' 'Norfolk' 'Pensacola'
 'Oklahoma City' 'Everett' 'Portland' 'Punta Gorda' 'Philadelphia'
 'Palm Springs' 'Bend' 'Raleigh' 'Richmond' 'Reno' 'Rochester'
 'Salt Lake City' 'Savannah' 'Sarasota' 'Syracuse' 'Trenton' 'Knoxville'
 'Nantucket' 'Belleville' 'Little Rock' 'Bangor' 'Kalispell'
 "Martha's Vineyard" 'Santa Rosa' 'Santa Barbara']

In [152]:
not_present = [value for value in games if value not in unique_values]

# Print the values not present
print("The following values are not present in the DataFrame column:", not_present)

The following values are not present in the DataFrame column: ['Arlington', 'Baltimore', 'Toronto', 'Oakland', 'Phoneix', 'New York']

In [153]:
import pandas as pd

df_filtered = df_filtered[df_filtered['clean_city1'].isin(games) & df_filtered['clean_city2'].isin(games)]

In [154]:
df_filtered

,index,clean_city1,clean_city2,fare,lng1,lat1,lng2,lat2
78,1642,Pittsburgh,Seattle,238.91,-79.9763,40.4397,-122.3244,47.6211
79,1643,Pittsburgh,Washington,210.78,-79.9763,40.4397,-77.0163,38.9047
80,1661,Pittsburgh,San Francisco,313.49,-79.9763,40.4397,-122.4449,37.7558
81,1662,Pittsburgh,Tampa,177.41,-79.9763,40.4397,-82.4447,27.9945
89,2217,Denver,Pittsburgh,255.95,-104.8758,39.7620,-79.9763,40.4397
...,...,...,...,...,...,...,...,...
1016,34966,Cleveland,Philadelphia,264.44,-81.6805,41.4764,-75.1339,40.0077
1050,44971,Minneapolis,Pittsburgh,262.61,-93.2678,44.9635,-79.9763,40.4397
1064,49178,Milwaukee,Minneapolis,238.28,-87.9675,43.0642,-93.2678,44.9635
1108,75715,Milwaukee,San Francisco,310.25,-87.9675,43.0642,-122.4449,37.7558
1109,75721,Milwaukee,Philadelphia,260.25,-87.9675,43.0642,-75.1339,40.0077

##**COST MATRIX FINAL:**

In [159]:
import pandas as pd

# Assuming df_filtered is your DataFrame loaded with the data in the image.

# Create a pivot table to form the flight cost matrix
flight_cost_matrix = df_filtered.pivot_table(index='clean_city1', columns='clean_city2', values='fare', aggfunc='mean')

# The aggfunc='mean' is used to compute the average fare if there are multiple entries for the same city pair.
# You might choose to use 'min' or 'max' if you're looking for the cheapest or most expensive fare respectively.
# Assuming 'flight_cost_matrix' is your DataFrame with the flight cost matrix.


# Now your DataFrame should have 'city' as the index name and only the city names as column headers

display(flight_cost_matrix)

clean_city2,Boston,Chicago,Cincinnati,Cleveland,Denver,Detroit,Houston,Kansas City,Los Angeles,Miami,...,Minneapolis,New York City,Philadelphia,Pittsburgh,San Diego,San Francisco,Seattle,St. Louis,Tampa,Washington
clean_city1,,,,,,,,,,,,,,,,,,,,,
Atlanta,203.36,174.45,285.43,160.47,229.77,192.53,187.25,241.96,376.40,173.93,...,285.45,182.69,183.84,228.34,404.79,367.22,313.72,206.03,190.05,188.00
Boston,NaN,157.08,259.63,163.23,252.24,188.52,268.29,178.31,332.23,236.09,...,220.49,161.91,185.75,162.33,306.95,326.07,234.71,261.17,234.41,149.66
Chicago,NaN,NaN,187.22,191.74,183.09,198.78,207.92,200.49,252.85,233.16,...,187.34,179.84,191.80,188.59,290.03,304.63,215.66,212.37,196.42,193.31
Cincinnati,NaN,NaN,NaN,NaN,171.03,NaN,216.89,NaN,318.43,231.90,...,306.17,221.93,275.16,NaN,NaN,310.74,244.37,NaN,156.51,172.63
Cleveland,NaN,NaN,NaN,NaN,219.74,NaN,249.68,NaN,253.02,195.08,...,309.63,210.33,264.44,NaN,317.32,300.22,230.41,193.66,141.05,200.90
Denver,NaN,NaN,NaN,NaN,NaN,231.55,205.28,184.45,167.87,256.43,...,168.89,226.76,233.46,255.95,190.92,208.06,175.33,197.63,215.89,244.64
Detroit,NaN,NaN,NaN,NaN,NaN,NaN,209.86,303.49,337.37,259.51,...,230.66,179.36,200.49,NaN,372.01,406.54,303.93,201.04,211.88,186.43
Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,243.15,226.18,225.15,...,245.75,203.33,254.36,255.85,290.78,305.03,295.29,234.81,204.47,257.52
Kansas City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233.05,297.56,...,280.92,182.96,306.30,NaN,279.30,303.86,241.77,NaN,242.29,233.93
Los Angeles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333.88,...,285.16,375.38,298.78,266.72,NaN,150.17,198.56,303.88,306.33,318.13
Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,277.50,211.66,213.85,207.65,312.34,387.16,321.60,267.14,183.77,217.76
Milwaukee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,238.28,202.19,260.25,NaN,NaN,310.25,228.47,NaN,256.32,194.53
Minneapolis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,237.44,305.38,262.61,304.92,311.39,271.91,195.34,250.56,235.43
New York City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,195.97,283.76,361.56,248.80,211.61,177.21,206.20
Philadelphia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,281.65,380.16,345.82,305.76,255.78,225.15,NaN
Pittsburgh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,313.49,238.91,NaN,177.41,210.78
San Diego,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,143.39,190.52,314.94,347.19,349.97
San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,162.87,313.22,318.07,366.43
Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262.04,303.01,277.77
St. Louis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205.82,199.36
Tampa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220.75

In [126]:
import plotly.graph_objs as go
import pandas as pd

# Assuming df_filtered is your DataFrame with the necessary columns

# Create the map figure
fig = go.Figure()

# Dictionary to track which cities have been plotted
plotted_cities = {}

# Add the flight paths
for i, row in df_filtered.iterrows():
    print(f"Adding flight path {i}: {row['clean_city1']} to {row['clean_city2']}")
    # Add flight path
    fig.add_trace(
        go.Scattergeo(
            locationmode='USA-states',
            lon=[row['lng1'], row['lng2']],
            lat=[row['lat1'], row['lat2']],
            mode='lines',
            #text=
            line=dict(width=2, color='rgba(135, 167, 187, 0.5)'),  # Adjusted color and opacity
            opacity=0.6,  # Adjusted opacity for transparency
            hoverinfo='skip',  # Skip hover info for lines
        )
    )
        # Calculate midpoint coordinates
    mid_lon = (row['lng1'] + row['lng2']) / 2
    mid_lat = (row['lat1'] + row['lat2']) / 2

    print("long1", row['lng1'])
    print("long2", row['lng2'])
    print("mid_long: ",mid_lon)

    # Add midpoint marker with hover text
    fig.add_trace(
        go.Scattergeo(
            locationmode='USA-states',
            lon=[mid_lon],
            lat=[mid_lat],
            mode='markers',
            marker=dict(
                size=0,
                opacity=0
            ),
            hoverinfo='text',
            text=f"{row['clean_city1']} to {row['clean_city2']} fare: ${row['fare']}"
        )
    )
    # Calculate midpoint coordinates
    mid_lon = (row['lng1'] + row['lng2']) / 2
    mid_lat = (row['lat1'] + row['lat2']) / 2

    # Add annotation for the midpoint with fare information
    fig.add_annotation(
        x=mid_lon,
        y=mid_lat,
        text=f"{row['clean_city1']} to {row['clean_city2']} fare: ${row['fare']}",
        showarrow=False,
        font=dict(color='black', size=10),
        align='center',  # Center the annotation
        valign='middle'  # Center the annotation
    )


   # Add marker for CITY1 if not already plotted
    if row['clean_city1'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['lng1']],
                lat=[row['lat1']],
                text=row['clean_city1'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['clean_city1']] = True

    # Add marker for CITY2 if not already plotted
    if row['clean_city2'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['lng2']],
                lat=[row['lat2']],
                text=row['clean_city2'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['clean_city2']] = True


# Update the layout of the map
fig.update_layout(
    title_text='Flight Cost Visualization',
    showlegend=False,
    geo=dict(
        scope='usa',
        projection_type='albers usa',
        showland=True,
        landcolor='rgb(200, 200, 200)',
        subunitwidth=1,
        countrywidth=1,
        subunitcolor='rgb(255,255,255)',
        countrycolor='rgb(255,255,255)'
    ),
)

# Display the figure
fig.show()

# Alternatively, you can save the figure as an HTML file
fig.write_html("flight_cost_visualization.html")

Adding flight path 78: Pittsburgh to Seattle
long1 -79.9763
long2 -122.3244
mid_long:  -101.15035
Adding flight path 79: Pittsburgh to Washington
long1 -79.9763
long2 -77.0163
mid_long:  -78.49629999999999
Adding flight path 80: Pittsburgh to San Francisco
long1 -79.9763
long2 -122.4449
mid_long:  -101.2106
Adding flight path 81: Pittsburgh to Tampa
long1 -79.9763
long2 -82.4447
mid_long:  -81.2105
Adding flight path 89: Denver to Pittsburgh
long1 -104.8758
long2 -79.9763
mid_long:  -92.42605
Adding flight path 93: Denver to Seattle
long1 -104.8758
long2 -122.3244
mid_long:  -113.6001
Adding flight path 96: Denver to Washington
long1 -104.8758
long2 -77.0163
mid_long:  -90.94605
Adding flight path 97: Denver to St. Louis
long1 -104.8758
long2 -90.2451
mid_long:  -97.56045
Adding flight path 99: Denver to Detroit
long1 -104.8758
long2 -83.1024
mid_long:  -93.98910000000001
Adding flight path 101: Denver to Houston
long1 -104.8758
long2 -95.3885
mid_long:  -100.13215
Adding flight path 103: Denver to Minneapolis
long1 -104.8758
long2 -93.2678
mid_long:  -99.0718
Adding flight path 104: Denver to New York City
long1 -104.8758
long2 -73.9249
mid_long:  -89.40035
Adding flight path 110: Denver to San Francisco
long1 -104.8758
long2 -122.4449
mid_long:  -113.66035
Adding flight path 111: Denver to Miami
long1 -104.8758
long2 -80.2101
mid_long:  -92.54294999999999
Adding flight path 112: Denver to Los Angeles
long1 -104.8758
long2 -118.4068
mid_long:  -111.6413
Adding flight path 116: Denver to Tampa
long1 -104.8758
long2 -82.4447
mid_long:  -93.66024999999999
Adding flight path 117: Denver to Kansas City
long1 -104.8758
long2 -94.5541
mid_long:  -99.71495
Adding flight path 121: Denver to Milwaukee
long1 -104.8758
long2 -87.9675
mid_long:  -96.42165
Adding flight path 124: Denver to San Diego
long1 -104.8758
long2 -117.1222
mid_long:  -110.999
Adding flight path 130: Denver to Philadelphia
long1 -104.8758
long2 -75.1339
mid_long:  -90.00485
Adding flight path 142: Atlanta to Pittsburgh
long1 -84.422
long2 -79.9763
mid_long:  -82.19915
Adding flight path 143: Atlanta to Denver
long1 -84.422
long2 -104.8758
mid_long:  -94.6489
Adding flight path 147: Atlanta to Seattle
long1 -84.422
long2 -122.3244
mid_long:  -103.3732
Adding flight path 148: Atlanta to Cleveland
long1 -84.422
long2 -81.6805
mid_long:  -83.05125
Adding flight path 150: Atlanta to Boston
long1 -84.422
long2 -71.0852
mid_long:  -77.7536
Adding flight path 152: Atlanta to Washington
long1 -84.422
long2 -77.0163
mid_long:  -80.71915
Adding flight path 153: Atlanta to Chicago
long1 -84.422
long2 -87.6866
mid_long:  -86.0543
Adding flight path 157: Atlanta to St. Louis
long1 -84.422
long2 -90.2451
mid_long:  -87.33355
Adding flight path 159: Atlanta to Detroit
long1 -84.422
long2 -83.1024
mid_long:  -83.7622
Adding flight path 160: Atlanta to Houston
long1 -84.422
long2 -95.3885
mid_long:  -89.90525
Adding flight path 162: Atlanta to Minneapolis
long1 -84.422
long2 -93.2678
mid_long:  -88.8449
Adding flight path 163: Atlanta to New York City
long1 -84.422
long2 -73.9249
mid_long:  -79.17345
Adding flight path 169: Atlanta to San Francisco
long1 -84.422
long2 -122.4449
mid_long:  -103.43345
Adding flight path 170: Atlanta to Miami
long1 -84.422
long2 -80.2101
mid_long:  -82.31604999999999
Adding flight path 171: Atlanta to Los Angeles
long1 -84.422
long2 -118.4068
mid_long:  -101.4144
Adding flight path 174: Atlanta to Cincinnati
long1 -84.422
long2 -84.506
mid_long:  -84.464
Adding flight path 176: Atlanta to Tampa
long1 -84.422
long2 -82.4447
mid_long:  -83.43334999999999
Adding flight path 177: Atlanta to Kansas City
long1 -84.422
long2 -94.5541
mid_long:  -89.48805
Adding flight path 181: Atlanta to Milwaukee
long1 -84.422
long2 -87.9675
mid_long:  -86.19475
Adding flight path 183: Atlanta to San Diego
long1 -84.422
long2 -117.1222
mid_long:  -100.7721
Adding flight path 188: Atlanta to Philadelphia
long1 -84.422
long2 -75.1339
mid_long:  -79.77795
Adding flight path 257: Seattle to Washington
long1 -122.3244
long2 -77.0163
mid_long:  -99.67035
Adding flight path 258: Seattle to St. Louis
long1 -122.3244
long2 -90.2451
mid_long:  -106.28475
Adding flight path 260: Seattle to Tampa
long1 -122.3244
long2 -82.4447
mid_long:  -102.38454999999999
Adding flight path 279: Cleveland to Denver
long1 -81.6805
long2 -104.8758
mid_long:  -93.27815
Adding flight path 281: Cleveland to Seattle
long1 -81.6805
long2 -122.3244
mid_long:  -102.00245
Adding flight path 283: Cleveland to Washington
long1 -81.6805
long2 -77.0163
mid_long:  -79.3484
Adding flight path 284: Cleveland to Houston
long1 -81.6805
long2 -95.3885
mid_long:  -88.5345
Adding flight path 286: Cleveland to Minneapolis
long1 -81.6805
long2 -93.2678
mid_long:  -87.47415
Adding flight path 287: Cleveland to New York City
long1 -81.6805
long2 -73.9249
mid_long:  -77.80269999999999
Adding flight path 290: Cleveland to San Francisco
long1 -81.6805
long2 -122.4449
mid_long:  -102.0627
Adding flight path 291: Cleveland to Miami
long1 -81.6805
long2 -80.2101
mid_long:  -80.9453
Adding flight path 292: Cleveland to Los Angeles
long1 -81.6805
long2 -118.4068
mid_long:  -100.04365
Adding flight path 293: Cleveland to Tampa
long1 -81.6805
long2 -82.4447
mid_long:  -82.0626
Adding flight path 294: Cleveland to San Diego
long1 -81.6805
long2 -117.1222
mid_long:  -99.40135000000001
Adding flight path 326: Boston to Pittsburgh
long1 -71.0852
long2 -79.9763
mid_long:  -75.53075
Adding flight path 327: Boston to Denver
long1 -71.0852
long2 -104.8758
mid_long:  -87.9805
Adding flight path 329: Boston to Seattle
long1 -71.0852
long2 -122.3244
mid_long:  -96.7048
Adding flight path 330: Boston to Cleveland
long1 -71.0852
long2 -81.6805
mid_long:  -76.38284999999999
Adding flight path 334: Boston to Washington
long1 -71.0852
long2 -77.0163
mid_long:  -74.05075
Adding flight path 335: Boston to Chicago
long1 -71.0852
long2 -87.6866
mid_long:  -79.38589999999999
Adding flight path 339: Boston to St. Louis
long1 -71.0852
long2 -90.2451
mid_long:  -80.66515
Adding flight path 342: Boston to Detroit
long1 -71.0852
long2 -83.1024
mid_long:  -77.0938
Adding flight path 343: Boston to Houston
long1 -71.0852
long2 -95.3885
mid_long:  -83.23685
Adding flight path 346: Boston to Minneapolis
long1 -71.0852
long2 -93.2678
mid_long:  -82.1765
Adding flight path 347: Boston to New York City
long1 -71.0852
long2 -73.9249
mid_long:  -72.50505
Adding flight path 351: Boston to San Francisco
long1 -71.0852
long2 -122.4449
mid_long:  -96.76505
Adding flight path 352: Boston to Miami
long1 -71.0852
long2 -80.2101
mid_long:  -75.64765
Adding flight path 353: Boston to Los Angeles
long1 -71.0852
long2 -118.4068
mid_long:  -94.74600000000001
Adding flight path 354: Boston to Cincinnati
long1 -71.0852
long2 -84.506
mid_long:  -77.79560000000001
Adding flight path 355: Boston to Tampa
long1 -71.0852
long2 -82.4447
mid_long:  -76.76495
Adding flight path 356: Boston to Kansas City
long1 -71.0852
long2 -94.5541
mid_long:  -82.81965
Adding flight path 358: Boston to Milwaukee
long1 -71.0852
long2 -87.9675
mid_long:  -79.52635000000001
Adding flight path 360: Boston to San Diego
long1 -71.0852
long2 -117.1222
mid_long:  -94.1037
Adding flight path 364: Boston to Philadelphia
long1 -71.0852
long2 -75.1339
mid_long:  -73.10955
Adding flight path 391: Chicago to Pittsburgh
long1 -87.6866
long2 -79.9763
mid_long:  -83.83144999999999
Adding flight path 392: Chicago to Denver
long1 -87.6866
long2 -104.8758
mid_long:  -96.2812
Adding flight path 396: Chicago to Seattle
long1 -87.6866
long2 -122.3244
mid_long:  -105.0055
Adding flight path 398: Chicago to Cleveland
long1 -87.6866
long2 -81.6805
mid_long:  -84.68355
Adding flight path 400: Chicago to Washington
long1 -87.6866
long2 -77.0163
mid_long:  -82.35145
Adding flight path 402: Chicago to St. Louis
long1 -87.6866
long2 -90.2451
mid_long:  -88.96584999999999
Adding flight path 404: Chicago to Detroit
long1 -87.6866
long2 -83.1024
mid_long:  -85.3945
Adding flight path 405: Chicago to Houston
long1 -87.6866
long2 -95.3885
mid_long:  -91.53755
Adding flight path 407: Chicago to Minneapolis
long1 -87.6866
long2 -93.2678
mid_long:  -90.4772
Adding flight path 408: Chicago to New York City
long1 -87.6866
long2 -73.9249
mid_long:  -80.80574999999999
Adding flight path 412: Chicago to San Francisco
long1 -87.6866
long2 -122.4449
mid_long:  -105.06575000000001
Adding flight path 413: Chicago to Miami
long1 -87.6866
long2 -80.2101
mid_long:  -83.94835
Adding flight path 414: Chicago to Los Angeles
long1 -87.6866
long2 -118.4068
mid_long:  -103.0467
Adding flight path 416: Chicago to Cincinnati
long1 -87.6866
long2 -84.506
mid_long:  -86.0963
Adding flight path 418: Chicago to Tampa
long1 -87.6866
long2 -82.4447
mid_long:  -85.06565
Adding flight path 419: Chicago to Kansas City
long1 -87.6866
long2 -94.5541
mid_long:  -91.12035
Adding flight path 424: Chicago to San Diego
long1 -87.6866
long2 -117.1222
mid_long:  -102.40440000000001
Adding flight path 430: Chicago to Philadelphia
long1 -87.6866
long2 -75.1339
mid_long:  -81.41024999999999
Adding flight path 499: St. Louis to Washington
long1 -90.2451
long2 -77.0163
mid_long:  -83.63069999999999
Adding flight path 500: St. Louis to Tampa
long1 -90.2451
long2 -82.4447
mid_long:  -86.3449
Adding flight path 515: Detroit to Seattle
long1 -83.1024
long2 -122.3244
mid_long:  -102.71340000000001
Adding flight path 517: Detroit to Washington
long1 -83.1024
long2 -77.0163
mid_long:  -80.05935
Adding flight path 518: Detroit to St. Louis
long1 -83.1024
long2 -90.2451
mid_long:  -86.67375
Adding flight path 521: Detroit to Houston
long1 -83.1024
long2 -95.3885
mid_long:  -89.24545
Adding flight path 523: Detroit to Minneapolis
long1 -83.1024
long2 -93.2678
mid_long:  -88.1851
Adding flight path 524: Detroit to New York City
long1 -83.1024
long2 -73.9249
mid_long:  -78.51365
Adding flight path 527: Detroit to San Francisco
long1 -83.1024
long2 -122.4449
mid_long:  -102.77365
Adding flight path 528: Detroit to Miami
long1 -83.1024
long2 -80.2101
mid_long:  -81.65625
Adding flight path 529: Detroit to Los Angeles
long1 -83.1024
long2 -118.4068
mid_long:  -100.75460000000001
Adding flight path 530: Detroit to Tampa
long1 -83.1024
long2 -82.4447
mid_long:  -82.77355
Adding flight path 531: Detroit to Kansas City
long1 -83.1024
long2 -94.5541
mid_long:  -88.82825
Adding flight path 534: Detroit to San Diego
long1 -83.1024
long2 -117.1222
mid_long:  -100.1123
Adding flight path 536: Detroit to Philadelphia
long1 -83.1024
long2 -75.1339
mid_long:  -79.11815
Adding flight path 547: Houston to Pittsburgh
long1 -95.3885
long2 -79.9763
mid_long:  -87.6824
Adding flight path 550: Houston to Seattle
long1 -95.3885
long2 -122.3244
mid_long:  -108.85645
Adding flight path 552: Houston to Washington
long1 -95.3885
long2 -77.0163
mid_long:  -86.2024
Adding flight path 553: Houston to St. Louis
long1 -95.3885
long2 -90.2451
mid_long:  -92.8168
Adding flight path 556: Houston to Minneapolis
long1 -95.3885
long2 -93.2678
mid_long:  -94.32815
Adding flight path 557: Houston to New York City
long1 -95.3885
long2 -73.9249
mid_long:  -84.6567
Adding flight path 560: Houston to San Francisco
long1 -95.3885
long2 -122.4449
mid_long:  -108.91669999999999
Adding flight path 561: Houston to Miami
long1 -95.3885
long2 -80.2101
mid_long:  -87.79929999999999
Adding flight path 562: Houston to Los Angeles
long1 -95.3885
long2 -118.4068
mid_long:  -106.89765
Adding flight path 567: Houston to Tampa
long1 -95.3885
long2 -82.4447
mid_long:  -88.91659999999999
Adding flight path 568: Houston to Kansas City
long1 -95.3885
long2 -94.5541
mid_long:  -94.9713
Adding flight path 572: Houston to Milwaukee
long1 -95.3885
long2 -87.9675
mid_long:  -91.678
Adding flight path 574: Houston to San Diego
long1 -95.3885
long2 -117.1222
mid_long:  -106.25534999999999
Adding flight path 578: Houston to Philadelphia
long1 -95.3885
long2 -75.1339
mid_long:  -85.2612
Adding flight path 620: Minneapolis to Seattle
long1 -93.2678
long2 -122.3244
mid_long:  -107.7961
Adding flight path 622: Minneapolis to Washington
long1 -93.2678
long2 -77.0163
mid_long:  -85.14205
Adding flight path 623: Minneapolis to St. Louis
long1 -93.2678
long2 -90.2451
mid_long:  -91.75645
Adding flight path 626: Minneapolis to New York City
long1 -93.2678
long2 -73.9249
mid_long:  -83.59635
Adding flight path 627: Minneapolis to San Francisco
long1 -93.2678
long2 -122.4449
mid_long:  -107.85634999999999
Adding flight path 629: Minneapolis to Tampa
long1 -93.2678
long2 -82.4447
mid_long:  -87.85624999999999
Adding flight path 632: Minneapolis to San Diego
long1 -93.2678
long2 -117.1222
mid_long:  -105.195
Adding flight path 636: Minneapolis to Philadelphia
long1 -93.2678
long2 -75.1339
mid_long:  -84.20085
Adding flight path 641: New York City to Pittsburgh
long1 -73.9249
long2 -79.9763
mid_long:  -76.9506
Adding flight path 644: New York City to Seattle
long1 -73.9249
long2 -122.3244
mid_long:  -98.12465
Adding flight path 645: New York City to Washington
long1 -73.9249
long2 -77.0163
mid_long:  -75.47059999999999
Adding flight path 646: New York City to St. Louis
long1 -73.9249
long2 -90.2451
mid_long:  -82.085
Adding flight path 649: New York City to San Francisco
long1 -73.9249
long2 -122.4449
mid_long:  -98.1849
Adding flight path 651: New York City to Tampa
long1 -73.9249
long2 -82.4447
mid_long:  -78.1848
Adding flight path 654: New York City to San Diego
long1 -73.9249
long2 -117.1222
mid_long:  -95.52355
Adding flight path 763: San Francisco to Seattle
long1 -122.4449
long2 -122.3244
mid_long:  -122.38465
Adding flight path 764: San Francisco to Washington
long1 -122.4449
long2 -77.0163
mid_long:  -99.73060000000001
Adding flight path 765: San Francisco to St. Louis
long1 -122.4449
long2 -90.2451
mid_long:  -106.345
Adding flight path 767: San Francisco to Tampa
long1 -122.4449
long2 -82.4447
mid_long:  -102.4448
Adding flight path 769: Miami to Pittsburgh
long1 -80.2101
long2 -79.9763
mid_long:  -80.0932
Adding flight path 771: Miami to Seattle
long1 -80.2101
long2 -122.3244
mid_long:  -101.26724999999999
Adding flight path 773: Miami to Washington
long1 -80.2101
long2 -77.0163
mid_long:  -78.6132
Adding flight path 774: Miami to St. Louis
long1 -80.2101
long2 -90.2451
mid_long:  -85.2276
Adding flight path 776: Miami to Minneapolis
long1 -80.2101
long2 -93.2678
mid_long:  -86.73894999999999
Adding flight path 777: Miami to New York City
long1 -80.2101
long2 -73.9249
mid_long:  -77.0675
Adding flight path 779: Miami to San Francisco
long1 -80.2101
long2 -122.4449
mid_long:  -101.3275
Adding flight path 781: Miami to Tampa
long1 -80.2101
long2 -82.4447
mid_long:  -81.3274
Adding flight path 784: Miami to Milwaukee
long1 -80.2101
long2 -87.9675
mid_long:  -84.08879999999999
Adding flight path 786: Miami to San Diego
long1 -80.2101
long2 -117.1222
mid_long:  -98.66615
Adding flight path 791: Miami to Philadelphia
long1 -80.2101
long2 -75.1339
mid_long:  -77.672
Adding flight path 798: Los Angeles to Pittsburgh
long1 -118.4068
long2 -79.9763
mid_long:  -99.19155
Adding flight path 801: Los Angeles to Seattle
long1 -118.4068
long2 -122.3244
mid_long:  -120.3656
Adding flight path 803: Los Angeles to Washington
long1 -118.4068
long2 -77.0163
mid_long:  -97.71155
Adding flight path 804: Los Angeles to St. Louis
long1 -118.4068
long2 -90.2451
mid_long:  -104.32595
Adding flight path 806: Los Angeles to Minneapolis
long1 -118.4068
long2 -93.2678
mid_long:  -105.8373
Adding flight path 807: Los Angeles to New York City
long1 -118.4068
long2 -73.9249
mid_long:  -96.16585
Adding flight path 809: Los Angeles to San Francisco
long1 -118.4068
long2 -122.4449
mid_long:  -120.42585
Adding flight path 810: Los Angeles to Miami
long1 -118.4068
long2 -80.2101
mid_long:  -99.30845
Adding flight path 813: Los Angeles to Tampa
long1 -118.4068
long2 -82.4447
mid_long:  -100.42575
Adding flight path 818: Los Angeles to Milwaukee
long1 -118.4068
long2 -87.9675
mid_long:  -103.18715
Adding flight path 824: Los Angeles to Philadelphia
long1 -118.4068
long2 -75.1339
mid_long:  -96.77035000000001
Adding flight path 839: Cincinnati to Denver
long1 -84.506
long2 -104.8758
mid_long:  -94.6909
Adding flight path 841: Cincinnati to Seattle
long1 -84.506
long2 -122.3244
mid_long:  -103.4152
Adding flight path 842: Cincinnati to Washington
long1 -84.506
long2 -77.0163
mid_long:  -80.76115
Adding flight path 843: Cincinnati to Houston
long1 -84.506
long2 -95.3885
mid_long:  -89.94725
Adding flight path 845: Cincinnati to Minneapolis
long1 -84.506
long2 -93.2678
mid_long:  -88.8869
Adding flight path 846: Cincinnati to New York City
long1 -84.506
long2 -73.9249
mid_long:  -79.21545
Adding flight path 849: Cincinnati to San Francisco
long1 -84.506
long2 -122.4449
mid_long:  -103.47545
Adding flight path 850: Cincinnati to Miami
long1 -84.506
long2 -80.2101
mid_long:  -82.35804999999999
Adding flight path 851: Cincinnati to Los Angeles
long1 -84.506
long2 -118.4068
mid_long:  -101.4564
Adding flight path 852: Cincinnati to Tampa
long1 -84.506
long2 -82.4447
mid_long:  -83.47534999999999
Adding flight path 854: Cincinnati to Philadelphia
long1 -84.506
long2 -75.1339
mid_long:  -79.81995
Adding flight path 863: Tampa to Washington
long1 -82.4447
long2 -77.0163
mid_long:  -79.7305
Adding flight path 866: Kansas City to Seattle
long1 -94.5541
long2 -122.3244
mid_long:  -108.43925
Adding flight path 868: Kansas City to Washington
long1 -94.5541
long2 -77.0163
mid_long:  -85.7852
Adding flight path 870: Kansas City to Minneapolis
long1 -94.5541
long2 -93.2678
mid_long:  -93.91095
Adding flight path 871: Kansas City to New York City
long1 -94.5541
long2 -73.9249
mid_long:  -84.23949999999999
Adding flight path 873: Kansas City to San Francisco
long1 -94.5541
long2 -122.4449
mid_long:  -108.49950000000001
Adding flight path 874: Kansas City to Miami
long1 -94.5541
long2 -80.2101
mid_long:  -87.38210000000001
Adding flight path 875: Kansas City to Los Angeles
long1 -94.5541
long2 -118.4068
mid_long:  -106.48045
Adding flight path 876: Kansas City to Tampa
long1 -94.5541
long2 -82.4447
mid_long:  -88.49940000000001
Adding flight path 878: Kansas City to San Diego
long1 -94.5541
long2 -117.1222
mid_long:  -105.83815000000001
Adding flight path 879: Kansas City to Philadelphia
long1 -94.5541
long2 -75.1339
mid_long:  -84.844
Adding flight path 899: Milwaukee to Seattle
long1 -87.9675
long2 -122.3244
mid_long:  -105.14595
Adding flight path 901: Milwaukee to Washington
long1 -87.9675
long2 -77.0163
mid_long:  -82.4919
Adding flight path 903: Milwaukee to New York City
long1 -87.9675
long2 -73.9249
mid_long:  -80.9462
Adding flight path 904: Milwaukee to Tampa
long1 -87.9675
long2 -82.4447
mid_long:  -85.20609999999999
Adding flight path 921: San Diego to Seattle
long1 -117.1222
long2 -122.3244
mid_long:  -119.7233
Adding flight path 922: San Diego to Washington
long1 -117.1222
long2 -77.0163
mid_long:  -97.06925000000001
Adding flight path 923: San Diego to St. Louis
long1 -117.1222
long2 -90.2451
mid_long:  -103.68365
Adding flight path 925: San Diego to San Francisco
long1 -117.1222
long2 -122.4449
mid_long:  -119.78355
Adding flight path 926: San Diego to Tampa
long1 -117.1222
long2 -82.4447
mid_long:  -99.78345
Adding flight path 948: Philadelphia to Pittsburgh
long1 -75.1339
long2 -79.9763
mid_long:  -77.5551
Adding flight path 950: Philadelphia to Seattle
long1 -75.1339
long2 -122.3244
mid_long:  -98.72915
Adding flight path 951: Philadelphia to St. Louis
long1 -75.1339
long2 -90.2451
mid_long:  -82.6895
Adding flight path 952: Philadelphia to San Francisco
long1 -75.1339
long2 -122.4449
mid_long:  -98.7894
Adding flight path 953: Philadelphia to Tampa
long1 -75.1339
long2 -82.4447
mid_long:  -78.7893
Adding flight path 955: Philadelphia to San Diego
long1 -75.1339
long2 -117.1222
mid_long:  -96.12805
Adding flight path 1015: Cleveland to St. Louis
long1 -81.6805
long2 -90.2451

In [127]:
df_filtered.head(1)

    index clean_city1 clean_city2    fare     lng1     lat1      lng2     lat2
78   1642  Pittsburgh     Seattle  238.91 -79.9763  40.4397 -122.3244  47.6211

In [128]:
rename_dict = {
    'clean_city1': 'CITY1',
    'clean_city2': 'CITY2',
    'lng1': 'LONGITUDE1',
    'lng2': 'LONGITUDE2',
    'lat2': 'LATITUDE2',
    'lat1': 'LATITUDE1',
    # Add more columns as needed
}

# Use the rename method to update column names
df_filtered = df_filtered.rename(columns=rename_dict)

In [129]:
df_filtered=df_filtered.iloc[:8,:]

In [130]:
df_filtered

,index,CITY1,CITY2,fare,LONGITUDE1,LATITUDE1,LONGITUDE2,LATITUDE2
78,1642,Pittsburgh,Seattle,238.91,-79.9763,40.4397,-122.3244,47.6211
79,1643,Pittsburgh,Washington,210.78,-79.9763,40.4397,-77.0163,38.9047
80,1661,Pittsburgh,San Francisco,313.49,-79.9763,40.4397,-122.4449,37.7558
81,1662,Pittsburgh,Tampa,177.41,-79.9763,40.4397,-82.4447,27.9945
89,2217,Denver,Pittsburgh,255.95,-104.8758,39.7620,-79.9763,40.4397
93,2319,Denver,Seattle,175.33,-104.8758,39.7620,-122.3244,47.6211
96,2397,Denver,Washington,244.64,-104.8758,39.7620,-77.0163,38.9047
97,2505,Denver,St. Louis,197.63,-104.8758,39.7620,-90.2451,38.6359

In [131]:
#LIMIT TO 8 cities


import plotly.graph_objs as go
import pandas as pd

# Assuming df_filtered is your DataFrame with the necessary columns

# Create the map figure
fig = go.Figure()

# Dictionary to track which cities have been plotted
plotted_cities = {}

# Add the flight paths
for i, row in df_filtered.iterrows():
    print(f"Adding flight path {i}: {row['CITY1']} to {row['CITY2']}")
    # Add flight path
    fig.add_trace(
        go.Scattergeo(
            locationmode='USA-states',
            lon=[row['LONGITUDE1'], row['LONGITUDE2']],
            lat=[row['LATITUDE1'], row['LATITUDE2']],
            mode='lines',
            text=f"{row['CITY1']} to {row['CITY2']} fare: ${row['fare']}",
            line=dict(width=2, color='rgba(135, 167, 187, 0.5)'),  # Adjusted color and opacity
            opacity=0.8,  # Adjusted opacity for transparency
            #hoverinfo='skip',  # Skip hover info for lines
        )
    )
        # Calculate midpoint coordinates
    mid_lon = (row['LONGITUDE1'] + row['LONGITUDE2']) / 2
    mid_lat = (row['LATITUDE1'] + row['LATITUDE2']) / 2
    print("long1", row['LONGITUDE1'])
    print("long2", row['LONGITUDE2'])
    print("mid_long: ",mid_lon)
    # Add midpoint marker with hover text
    fig.add_trace(
        go.Scattergeo(
            locationmode='USA-states',
            lon=[mid_lon],
            lat=[mid_lat],
            mode='markers',
            marker=dict(
                size=0,
                opacity=0
            ),
           # hoverinfo="skip",
            text=f"{row['CITY1']} to {row['CITY2']} fare: ${row['fare']}"
        )
    )
    fig.add_trace(go.Scattergeo(
        #rem mid
            lon=[mid_lon],
            lat=[mid_lat],
            mode="text",
            name="Text",
            text=f"${row['fare']}",
            textposition='top center'
                  ))

    fig.add_annotation(
        #removed mid pt
            x=[mid_lon],
            y=[mid_lat],
            text=f"${row['fare']}",  # Text here is the fare amount
            showarrow=True,
            font=dict(
                size=8,  # Size of the annotation text
                color='black'  # Color of the annotation text
            ),
            bgcolor='white',  # Background color of the annotation
            bordercolor='black',  # Border color of the annotation
            borderpad=3,  # Padding around the text inside the annotation
            borderwidth=1  # Width of the border around the annotation
        )


    print([mid_lon])
   # mid_lon = (row['LONGITUDE1'] + row['LONGITUDE2']) / 2
    #mid_lat = (row['LATITUDE1'] + row['LATITUDE2']) / 2





   # Add marker for CITY1 if not already plotted
    if row['CITY1'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['LONGITUDE1']],
                lat=[row['LATITUDE1']],
                text=row['CITY1'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['CITY1']] = True

    # Add marker for CITY2 if not already plotted
    if row['CITY2'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['LONGITUDE2']],
                lat=[row['LATITUDE2']],
                text=row['CITY2'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['CITY2']] = True



# Update the layout of the map
fig.update_layout(
    title_text='Flight Cost Visualization',
    showlegend=False,
    geo=dict(
        scope='usa',
        projection_type='albers usa',
        showland=True,
        #landcolor='rgb(150, 150, 150)',
        subunitwidth=1,
        countrywidth=1,
        subunitcolor='rgb(255,255,255)',
        countrycolor='rgb(255,255,255)'
    ),
)

# Display the figure
fig.show()

# Alternatively, you can save the figure as an HTML file
fig.write_html("flight_cost_visualization.html")

Adding flight path 78: Pittsburgh to Seattle
long1 -79.9763
long2 -122.3244
mid_long:  -101.15035
[-101.15035]
Adding flight path 79: Pittsburgh to Washington
long1 -79.9763
long2 -77.0163
mid_long:  -78.49629999999999
[-78.49629999999999]
Adding flight path 80: Pittsburgh to San Francisco
long1 -79.9763
long2 -122.4449
mid_long:  -101.2106
[-101.2106]
Adding flight path 81: Pittsburgh to Tampa
long1 -79.9763
long2 -82.4447
mid_long:  -81.2105
[-81.2105]
Adding flight path 89: Denver to Pittsburgh
long1 -104.8758
long2 -79.9763
mid_long:  -92.42605
[-92.42605]
Adding flight path 93: Denver to Seattle
long1 -104.8758
long2 -122.3244
mid_long:  -113.6001
[-113.6001]
Adding flight path 96: Denver to Washington
long1 -104.8758
long2 -77.0163
mid_long:  -90.94605
[-90.94605]
Adding flight path 97: Denver to St. Louis
long1 -104.8758
long2 -90.2451
mid_long:  -97.56045
[-97.56045]

In [132]:
import plotly.graph_objs as go
import pandas as pd

# Assuming df_filtered is your DataFrame with the necessary columns

# Create the map figure
fig = go.Figure()

# Dictionary to track which cities have been plotted
plotted_cities = {}

# Add the flight paths
for i, row in df_filtered.iterrows():
    print(f"Adding flight path {i}: {row['CITY1']} to {row['CITY2']}")
    # Add flight path
    fig.add_trace(
        go.Scattergeo(
            locationmode='USA-states',
            lon=[row['LONGITUDE1'], row['LONGITUDE2']],
            lat=[row['LATITUDE1'], row['LATITUDE2']],
            mode='lines',
            line=dict(width=2, color='rgba(135, 167, 187, 0.5)'),  # Adjusted color and opacity
            opacity=0.6,  # Adjusted opacity for transparency
            hoverinfo='text',
            text=f"{row['CITY1']} to {row['CITY2']} fare: ${row['fare']}",  # Text displayed on hover
        )
    #print(i," ",row)
    )
######

# create mid points

######
    # Add marker for CITY1 if not already plotted
    if row['CITY1'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['LONGITUDE1']],
                lat=[row['LATITUDE1']],
                text=row['CITY1'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['CITY1']] = True

    # Add marker for CITY2 if not already plotted
    if row['CITY2'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['LONGITUDE2']],
                lat=[row['LATITUDE2']],
                text=row['CITY2'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['CITY2']] = True

# Update the layout of the map
fig.update_layout(
    title_text='Flight Cost Visualization',
    showlegend=False,
    geo=dict(
        scope='usa',
        projection_type='albers usa',
        showland=True,
        landcolor='rgb(200, 200, 200)',
        subunitwidth=1,
        countrywidth=1,
        subunitcolor='rgb(255,255,255)',
        countrycolor='rgb(255,255,255)'
    ),
)

# Display the figure
fig.show()

# Alternatively, you can save the figure as an HTML file
fig.write_html("flight_cost_visualization.html")

Adding flight path 78: Pittsburgh to Seattle
Adding flight path 79: Pittsburgh to Washington
Adding flight path 80: Pittsburgh to San Francisco
Adding flight path 81: Pittsburgh to Tampa
Adding flight path 89: Denver to Pittsburgh
Adding flight path 93: Denver to Seattle
Adding flight path 96: Denver to Washington
Adding flight path 97: Denver to St. Louis

In [133]:
#######2.0 test
import plotly.graph_objs as go
import pandas as pd

# Assuming df_filtered is your DataFrame with the necessary columns

# Create the map figure
fig = go.Figure()

# Dictionary to track which cities have been plotted
plotted_cities = {}

# Add the flight paths
for i, row in df_filtered.iterrows():
    # Add flight path
    fig.add_trace(
        go.Scattergeo(
            locationmode='USA-states',
            lon=[row['LONGITUDE1'], row['LONGITUDE2']],
            lat=[row['LATITUDE1'], row['LATITUDE2']],
            mode='lines',
            line=dict(width=2, color='rgba(135, 180, 180, 0.8)'),  # Adjusted color with alpha for opacity
            hoverinfo='text',
            text=f"{row['CITY1']} to {row['CITY2']} fare: ${row['fare']}",  # Text displayed on hover
        )
    )

    # Add marker for CITY1 if not already plotted
    if row['CITY1'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['LONGITUDE1']],
                lat=[row['LATITUDE1']],
                text=row['CITY1'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                #hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['CITY1']] = True

    # Add marker for CITY2 if not already plotted
    if row['CITY2'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['LONGITUDE2']],
                lat=[row['LATITUDE2']],
                text=row['CITY2'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                #hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['CITY2']] = True

# Update the layout of the map
fig.update_layout(
    title_text='Flight Cost Visualization',
    showlegend=False,
    geo=dict(
        scope='usa',
        projection_type='albers usa',
        showland=True,
        landcolor='rgb(200, 200, 200)',
        subunitwidth=1,
        countrywidth=1,
        subunitcolor='rgb(255,255,255)',
        countrycolor='rgb(255,255,255)'
    ),
)

# Display the figure
fig.show()

# Alternatively, you can save the figure as an HTML file
fig.write_html("flight_cost_visualization.html")

In [134]:
import plotly.graph_objs as go
import pandas as pd

# Assuming df_filtered is your DataFrame with the necessary columns

# Create the map figure
fig = go.Figure()

# Dictionary to track which cities have been plotted
plotted_cities = {}

# Add the flight paths
for i, row in df_filtered.iterrows():
    # Add flight path
    fig.add_trace(
        go.Scattergeo(
            locationmode='USA-states',
            lon=[row['LONGITUDE1'], row['LONGITUDE2']],
            lat=[row['LATITUDE1'], row['LATITUDE2']],
            mode='lines',
            line=dict(
                width=2,
                color='rgba(135, 180, 180, 0.8)',  # Adjusted color with alpha for opacity
            ),
            hoverinfo='none'  # Remove hover info for the lines
        )
    )

    # Add marker for CITY1 if not already plotted
    if row['CITY1'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['LONGITUDE1']],
                lat=[row['LATITUDE1']],
                text=row['CITY1'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['CITY1']] = True

    # Add marker for CITY2 if not already plotted
    if row['CITY2'] not in plotted_cities:
        fig.add_trace(
            go.Scattergeo(
                locationmode='USA-states',
                lon=[row['LONGITUDE2']],
                lat=[row['LATITUDE2']],
                text=row['CITY2'],
                mode='markers+text',
                marker=dict(size=5, color='red'),
                hoverinfo='skip'  # Skip hover info for markers
            )
        )
        plotted_cities[row['CITY2']] = True

    # Add annotation for fare
    fare_annotation = go.Annotation(
        x=(row['LONGITUDE1'] + row['LONGITUDE2']) / 2,  # Compute midpoint for x
        y=(row['LATITUDE1'] + row['LATITUDE2']) / 2,  # Compute midpoint for y
        xref='x',
        yref='y',
        text=f"Fare: ${row['fare']}",
        showarrow=False,
        font=dict(color='black', size=10),
    )
    fig.add_annotation(fare_annotation)

# Update the layout of the map
fig.update_layout(
    title_text='Flight Cost Visualization',
    showlegend=False,
    geo=dict(
        scope='usa',
        projection_type='albers usa',
        showland=True,
        landcolor='rgb(200, 200, 200)',
        subunitwidth=1,
        countrywidth=1,
        subunitcolor='rgb(255,255,255)',
        countrycolor='rgb(255,255,255)'
    ),
)

# Display the figure
fig.show()

# Alternatively, you can save the figure as an HTML file
fig.write_html("flight_cost_visualization.html")

/usr/local/lib/python3.10/dist-packages/plotly/graph_objs/_deprecations.py:143: DeprecationWarning:

plotly.graph_objs.Annotation is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.layout.Annotation
  - plotly.graph_objs.layout.scene.Annotation

In [121]:
# df_merged[['LATITUDE1', 'LATITUDE2', 'LONGITUDE1', 'LONGITUDE2', 'fare', 'CITY1', 'CITY2']]

In [122]:

df_filtered = df_merged.dropna(subset=['LATITUDE1', 'LATITUDE2', 'LONGITUDE1', 'LONGITUDE2', 'fare', 'CITY1', 'CITY2'])
df_filtered=df_filtered.iloc[:20,:]

In [123]:
import plotly.graph_objs as go
import pandas as pd

# Assuming df_filtered is your DataFrame with the necessary columns

# Create the map figure
fig = go.Figure()

# Lists to store flight paths and city markers data
flight_paths_lons = []
flight_paths_lats = []
flight_paths_text = []
city_markers_lons = []
city_markers_lats = []
city_markers_text = []

# Set to keep track of plotted cities to ensure each city is only added once
plotted_cities = set()

# Populate lists for flight paths and city markers
for i, row in df_filtered.iterrows():
    # Flight path
    flight_paths_lons.extend([row['LONGITUDE1'], row['LONGITUDE2'], None])  # None to prevent line connecting to the next start
    flight_paths_lats.extend([row['LATITUDE1'], row['LATITUDE2'], None])
    flight_paths_text.append(f"{row['CITY1']} to {row['CITY2']} fare: ${row['fare']}")

    # Marker for CITY1
    if row['CITY1'] not in plotted_cities:
        city_markers_lons.append(row['LONGITUDE1'])
        city_markers_lats.append(row['LATITUDE1'])
        city_markers_text.append(f"{row['CITY1']}")
        plotted_cities.add(row['CITY1'])

    # Marker for CITY2
    if row['CITY2'] not in plotted_cities:
        city_markers_lons.append(row['LONGITUDE2'])
        city_markers_lats.append(row['LATITUDE2'])
        city_markers_text.append(f"{row['CITY2']}")
        plotted_cities.add(row['CITY2'])

# Add flight paths as a single trace
fig.add_trace(
    go.Scattergeo(
        locationmode='USA-states',
        lon=flight_paths_lons,
        lat=flight_paths_lats,
        mode='lines',
        line=dict(width=1, color='rgba(135, 206, 250, 0.5)'),
        opacity=0.4,
        text=flight_paths_text,
        hoverinfo='text'
    )
)

# Add city markers as a single trace
fig.add_trace(
    go.Scattergeo(
        locationmode='USA-states',
        lon=city_markers_lons,
        lat=city_markers_lats,
        text=city_markers_text,
        mode='markers+text',
        marker=dict(size=5, color='red'),
        hoverinfo='text'
    )
)

# Update the layout of the map
fig.update_layout(
    title_text='Flight Cost Visualization',
    showlegend=False,
    geo=dict(
        scope='usa',
        projection_type='albers usa',
        showland=True,
        landcolor='rgb(217, 217, 217)',
        subunitwidth=1,
        countrywidth=1,
        subunitcolor='rgb(255,255,255)',
        countrycolor='rgb(255,255,255)'
    ),
)

# Display the figure
fig.show()

# Alternatively, you can save the figure as an HTML file
fig.write_html("flight_cost_visualization.html")